/*primero agregamos la clase*/
.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column; /*divido tanto superior como inferior*/
    justify-content: space-between; /*Justifica el contenido de la barra Lateral*/
    background-color:  #1e3d59;
    padding: 25px 15px; /*rellno*/
}

.sidebar img{
    width: 20px; /*ancho de las imagenes*/
}

.sidebar .menu{
    display: block;
    margin-left: 10px;/*margen de bloque de visualizacion*/
    cursor: pointer; /*puntero de cursor*/
}

.sidebar .new-chat{
    margin-top: 10px;
    display:flex;/*Elementos de alineacion flexible*/
    align-items: center; /*Espacio centrado*/
    gap: 10px;
    padding: 10px 15px;
    background-color:  #FFA500;
    border-radius: 50px;
    font-size: 14px;
    color:  #e6eaf1;
    cursor: pointer;   
     
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.sidebar .chat-icon{
    width: 225%;
    max-width: 225px; /* Limita el tamaño máximo */
    height: auto; /* Mantiene la proporción del logo */
    display: block; /* Elimina el espacio blanco debajo de la imagen */
    margin: 0 auto; /* Centra la imagen si es más pequeña que su contenedor */
    cursor: pointer; /*puntero de cursor*/
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.sidebar .recent-entry:hover{
    background-color: #FFA500;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width:600px) {
    .sidebar{
    display: none;
    }
}